.loginRegisterForm {
    background: rgba(255, 255, 255, 0.7);

    padding: 30px;
    padding-bottom: 40px;

    border-radius: 10px ;

    /* height: 500px; */
    width: 550px;

    position: absolute;
    top: 15vh;

}

.registerInstead {
    
    position: relative;    
    
    width: 100%;
    text-align: center;
    
    bottom: -10px;
    left: 0;
}

.loginRegisterFormTitle {
    font-size: 24px;
    margin: 0 0 20px 0;

    font-family: 'Lexend', sans-serif;

}

.loginRegisterForm  input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  
    font-size: 18px;



    /* font-family: 'Roboto', sans-serif; */

}
  /* .loginRegisterForm  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */
  
  
  .loginRegisterForm  input[type=submit] {
    background-color: #ffffff;
    /* bottom: -10vh; */

    width: 100%;

    border: none;
    color: rgb(0, 0, 0);
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 0px;
    margin: 38px 0 0px 0;

    border-radius: 10px;
    

    transition-duration: 0.4s;

    font-family: 'Lexend', sans-serif;
  }
  
  .loginRegisterForm input[type=submit]:hover {
    box-shadow:  -3px 3px 42px #d5d5d546,
    3px -3px 42px #ebebeb2f;

    /* margin-top: 6px; */
    transition-duration: 0.4s;

  }

  form a,form a:visited {
    color: rgb(0, 187, 115);
    font-weight: bold;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(102, 102, 102, 0.521);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(102, 102, 102, 0.521);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(102, 102, 102, 0.521);
  }